html, body {
  height: 100%;
  width: 100%;
}

header>nav{
  z-index: 10;
}

main>div{
  margin-top: 50px;
}

h2{
  text-align: center;
  padding: 40px;
}

#scarpe{
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
  font-size: 45px;
}

#accessori{
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
  font-size: 45px;
}

#accessoriinvernali{
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
  font-size: 45px;
}

